.Shop__title {
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 36px;
  margin-bottom: 30px;
}

.Shop__products {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  flex-direction: column;
}

.Shop__product {
  height: 600px;
  width: 100%;
}

.Shop__productImage {
  position: relative;
  height: 400px;
  width: 100%;
  background-color: green;
  cursor: pointer;
}

.Shop__productImage > img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  transition: opacity 0.3s;
}

.Shop__productImage > img:last-child {
  opacity: 0;
}

.Shop__productImage:hover > img:last-child {
  opacity: 1;
}

.Shop__productTitle {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  padding-top: 15px;
}

.Shop__productPrice {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 20px;
  color: grey;
}

@media (min-width: 600px) {
  .Shop__products {
    flex-direction: row;
  }
  .Shop__product {
    width: 300px;
  }
}

.Shop__icons {
  display: flex;
  justify-content: center;
  align-content: center;
}

.Shop__icon {
  font-size: 24px;
  margin: 0 10px;
}
