.Basket__title {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  font-size: 30px;
}

.Basket__product {
  display: flex;
  min-height: 100px;
  margin-bottom: 50px;
  flex-direction: column;
}

.Basket__productRight {
  width: 100%;
  margin-left: 0px;
}

.Basket__productName {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  padding-top: 15px;
}

.Basket__productPrice {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  padding-top: 15px;
  color: grey;
  margin-bottom: 15px;
}

.Basket__productRemove {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  padding-top: 15px;
}

.Basket__productLeft {
  width: 100%;
}

.Basket__productImage {
  width: 100%;
  height: 400px;
}

.Basket__summaryOrderTitle {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 20px;
}

.Basket__summaryOrderLineOne {
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 16px;
}

.Basket__summaryOrderShipping {
  display: flex;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 16px;
}

.Basket__summaryOrderAddDiscountCode {
  display: flex;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 16px;
}
.Basket__line {
  border-bottom: 1px solid black;
  margin-bottom: 15px;
}

.Basket__summaryButton {
  display: block;
  width: 100%;
  padding: 10px 30px;
  background: black;
  border: none;
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  font-size: inherit;
  text-decoration: none;
  text-transform: uppercase;
  appearance: none;
  margin-bottom: 30px;
  position: sticky;
  bottom: 0px;
  color: white;
}

@media (min-width: 600px) {
  .Basket__product {
    flex-direction: row;
  }

  .Basket__products {
    width: 50%;
  }

  .Basket__productLeft {
    width: 50%;
  }

  .Basket__productCenter {
    width: 50%;
    margin-left: 15px;
  }
}

.Basket__wrapper {
  display: flex;
}

.Basket__summary {
  background-color: rgb(243, 243, 245);
  width: 50%;
}
