.kartka {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.kartkaAboutMe {
}

.pasek {
  background-color: #d5bbb5;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}

.pasek > div:hover {
  opacity: 0.5;
}

.menu {
  cursor: pointer;
  margin: 7px;
}

.pasekSocialMedia {
  margin-left: auto;
}

.pasekSocialMedia > a,
.pasekSocialMedia > a:link,
.pasekSocialMedia > a:visited,
.pasekSocialMedia > a:active,
.pasekSocialMedia > a:hover {
  margin: 5px;
  color: inherit;
}

.pasekSocialMedia > a:hover {
  opacity: 0.5;
}

.logo {
  font-weight: bold;
}

.logoBaner {
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 74px;
  font-family: "LoveloBlack";
}

.baner {
  background-color: coral;
  height: 500px;
}
.banerImage {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.padding {
  height: 50px;
}

.posty {
  display: flex;
  justify-content: space-between;
}

.post {
  height: 600px;
  width: 300px;
  background-color: white;
  cursor: pointer;
}

.post:hover > .postImage {
  opacity: 0.5;
}

.postImage {
  height: 400px;
  width: 100%;
  background-color: bisque;
}

.postImageOne {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.tytul {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.data {
  text-align: center;
}

.socialMedia {
  font-size: 36px;
  color: grey;
  text-align: center;
}

.socialMedia > svg {
  margin: 10px;
}

.stopka {
  background-color: #d8c9c5;
  height: 70px;
}

.copyright {
  font-size: 18px;
  text-align: right;
  padding-top: 30px;
  margin-right: 20px;
  color: white;
}

.podstronaTytul {
  font-size: 38px;
  text-align: center;
  padding-bottom: 20px;
  font-family: "Merriweather", serif;
}

.podstronaTekst {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
  padding-bottom: 40px;
}

.podstronaData {
  font-size: 16px;
  text-align: center;
  padding-bottom: 20px;
  color: grey;
}

.aboutMe__banerTekstAbout {
  display: flex;
  align-content: center;
  justify-content: center;
}

.aboutMe__banerTekst {
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 20px;
}

.aboutMeBaner {
  height: 500px;
  display: flex;

}

.prawyBaner {
  height: 500px;
  width: 50%;
}

.lewyBaner {
  height: 500px;
  width: 50%;
}

.karolinaAboutMePic {
  object-fit: cover;
  object-position: center center;
  height: 100%;
  width: 100%;
}

.imieNazwisko {
  font-size: 38px;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Merriweather", serif;
}

.imieNazwiskoTekst {
  font-size: 19px;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.drugaPodStrona {
  display: flex;
}

.drugaPodStrona__tekst {
  background-color: white;
  height: 100%;
  width: 300px;
}

.drugaPodStrona__zdjecie {
  width: calc(100% - 300px);
}

.drugaPodStrona__zdjeciePic {
  background-color: lightblue;
  height: 400px;
  margin-bottom: 30px;
}

.drugaPodStrona__profilePic {
  display: flex;
  justify-content: center;
}

.drugaPodStrona__zdjeciePicPic {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}
.drugaPodStrona__profilePicImg {
  height: 250px;
  width: 250px;
  object-fit: cover;
  object-position: center center;
  border-radius: 50%;
}
.drugaPodStrona__aboutMe {
}

.drugaPodStrona__aboutMeTytul {
  margin: 30px 25px 10px 25px;
  font-size: 18px;
  font-family: "Merriweather", serif;
}

.drugaPodStrona__aboutMeTekst {
  margin: 10px 25px 10px 25px;
  font-size: 14px;
}

.drugaPodStrona__socialMedia {
  display: flex;
  justify-content: center;
}

.drugaPodStrona__socialMedia > a,
.drugaPodStrona__socialMedia > a:link,
.drugaPodStrona__socialMedia > a:visited,
.drugaPodStrona__socialMedia > a:active,
.drugaPodStrona__socialMedia > a:hover {
  margin: 5px;
  color: inherit;
}

.drugaPodStrona__socialMedia > a:hover {
  opacity: 0.5;
}

.bottomText {
  display: flex;
}

.bottomTextKolumnaL {
  width: 100%;
}

.bottomText_sayHello {
}

.bottomTextKolumnaS {
  width: 100%;
  text-align: center;
  font-family: "LoveloBlack";
  font-size: 26px;
}

.bottomTextKolumnP {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.bottomTextKolumnP > div:hover {
  opacity: 0.5; }

.bottomTextKolumnP__Text {
  margin-left: 10px;

}


.aboutMe__banerBottom {
  display: flex;
  justify-content: space-between;
  background-color: pink)
}

.aboutMe__banerBottomObrazek {
  height: 250px;
  width: 250px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.aboutMe__banerBottomObrazekObrazek {
  object-fit: cover;
  height: 100%;
  width: 100%;

}
