.PersonalSkills {
  padding: 25px;
}

.PersonalSkills__CharacterTraits {
  font-size: 18px;
  margin-bottom: 10px;
  font-family: "Merriweather", serif;
}

.PersonalSkill__skill {
  display: flex;
}

.PersonalSkills__T {
  font-size: 14px;
}

.PersonalSkills__pasek {
  display: flex;
  margin-left: auto;
}

.PersonalSkills__pasekKropka {
  height: 10px;
  width: 10px;
  background-color: gray;
  margin: 2px;
  border-radius: 50%;
}

.PersonalSkills__pasekKropka_active {
  background-color: black;
}
