.Product {
  display: flex;
  min-height: 100px;
  margin-bottom: 50px;
  flex-direction: column;
}

.Product__left {
  width: 100%;
}

.Product__right {
  width: 100%;
  margin-left: 0px;
}

.Product__img {
  width: 100%;
  height: 400px;
}

.Product__img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Product__title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  padding-top: 15px;
}

.Product__price {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  padding-top: 15px;
  color: grey;
  margin-bottom: 15px;
}

.Product__button {
  display: block;
  width: 100%;
  padding: 10px 30px;
  background: #d5bbb5;
  border: none;
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  font-size: inherit;
  text-decoration: none;
  text-transform: uppercase;
  appearance: none;
  margin-bottom: 30px;
}

@media (min-width: 600px) {
  .Product {
    flex-direction: row;
  }

  .Product__left {
    width: 50%;
  }

  .Product__right {
    width: 50%;
    margin-left: 15px;
  }
}

.Product__wishList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Product__wishListHeart {
  height: 18px;
  width: 18px;
}

.Product__wishListText {
  text-align: center;
  letter-spacing: 4px;
  font-size: 16px;
  margin-left: 15px;
}

.Product__description {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding-bottom: 30px;
}

.Product__descriptionText {
  text-align: center;
  letter-spacing: 4px;
  font-size: 16px;
  margin-left: 15px;
}

.Product__descriptionAdd {
  height: 18px;
  width: 18px;
}

.Product__line {
  border-bottom: 1px solid black;
}
